html,
body {
    height: 100%;
    width:100%;
}
html {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    line-height: 1.6;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
p {
    font-size: 15px;
}
ul {
    padding: 0;
    margin: 0;
}

/* Global
==================================================================================================== */
.navbar-menu {
    display: none;
}
.navbar-menu > i {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #cccccc;
}
.learn-more {
    font-size: 13px;
    text-decoration: none;
}
.about {
    min-height: 100%;
}
.contact {
    min-height: 100%;
}
.services {
    min-height: 100%;
}

/* Colors
==================================================================================================== */
.bg-dark {
    background: #0e1e31;
    color: #cccccc;
}
.bg-dark-second {
    background: #2f455d;
    color: #cccccc;
}
.bg-light {
    background: #f2f1ec;
}

/* Layout
==================================================================================================== */
.container {
    width: 85%;
    margin: 0 auto;
}
.container.small {
    width: 70%;
}
.flex {
    display: flex;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-left {
    justify-content: flex-start;
}
.justify-right {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.row-reverse {
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
}

/* Background Images
==================================================================================================== */
.banner {
    background: linear-gradient(
    rgba(14, 30, 49, 1), 
    rgba(14, 30, 49, 0.30)
    ), url('img/banner.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.bg-installation {
    width: 100%;
    height: 300px;
    background: url(img/installation.jpg) no-repeat center center;
    background-size: cover;
}
.bg-cleaning {
    height: 300px;
    background: url(img/cleaning.jpg) no-repeat center center;
    background-size: cover;
}
.bg-retail {
    height: 300px;
    background: url(img/retail.jpg) no-repeat center center;
    background-size: cover;
}
.bg-cartronics {
    height: 300px;
    background: url(img/cartronics.jpg) no-repeat center center;
    background-size: cover;
}
/* Address
==================================================================================================== */
address {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    font-style: normal;
}
.address-item + .address-item {
    margin-left: 15px;
}
.address-item > i {
    margin-right: 5px;
}

/* Store Hours
==================================================================================================== */
.store-hours {
    font-size: 15px;
}
th {
    text-align: left;
}
td {
    text-align: left;
}

/* Navbar
==================================================================================================== */
.navbar-primary {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-brand {
    flex-grow: 1;
}
.navbar-social {
    flex-grow: 8;
    list-style: none;
}
.navbar-primary cite {
    flex-grow: 4;
    font-size: 18px;
    text-align: center;
    color: #717a7d;
}
.navbar-social > li + li {
    margin-left: 15px;
}
.navbar-social > li > a {
    display: block;
    width: 30px;
    padding-top: 2px;
    border: 1px solid #0e1e31;
    border-radius: 5px;
    text-align: center;
    color: #0e1e31;
}
.navbar-brand > img {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 250px;
}
.navbar-nav {
    flex-grow: 10;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.navbar-nav > li > a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    text-decoration: none;
    transition: 0.50s ease-in-out;
    color: #cccccc;
}
.navbar-nav > li > a:hover {
    color: #ffffff;
}

/* Banner
==================================================================================================== */
.banner h1 {
    padding-top: 170px;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #f2f1ec;
}

/* Offering
==================================================================================================== */
.offering {
    padding-top: 20px;
}
.offering-item {
    flex: 1 2 33.33%;
    padding: 10px;
    border: 0.50px solid #0e1e31;
}
.offering-item + .offering-item {
    margin-left: 16px;
}
.offering-text {
    flex-grow: 2;
}
.offering-img {
    width: 100%;
    flex-grow: 1;
}

/* Brands
==================================================================================================== */
.brand {
    padding-top: 20px;
    padding-bottom: 20px;
}
.brands h2 {
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.brand-item {
    flex: 1;
    margin-right: 16px;
    margin-left: 16px;
}
.brand-item img {
    width: 100%;
}

/* Footer
==================================================================================================== */
footer {
    max-height: 100%;
    margin-bottom: -50px;
}
.footer p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* Service
==================================================================================================== */
.services {
    padding-top: 20px;
    padding-bottom: 20px;
}
.service-item + .service-item {
    margin-top: 30px;
}
.service-text {
    flex: 1;
    margin-right: 20px;
}
.service-text > h1 {
    line-height: 1.2;
    font-size: 35px;
    text-align: right;
}
.service-text > p {
    padding-top: 5px;
    padding-left: 35px;
    padding-bottom: 5px;
    border-left: 2.5px solid #2f455d;
    margin-top: 10px;
}
.service-img {
    flex: 1;
}
.row-reverse .service-text {
    margin-left: 40px;
}
.row-reverse .service-text > h1{
    flex: 1;
    text-align: left;
}
.row-reverse .service-text > p {
    margin-right: 100px;
}
.row-reverse .service-img {
    flex: 1;
}

/* About
==================================================================================================== */
.about {
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-text {
    flex: 1;
    margin-right: 20px;
}
.about-text > p {
    margin-top: 5px;
}
.about-img {
    flex: 1;
    margin-top: 10px;
}
.map-img {
    flex: 1;
}

/* Contact Us
==================================================================================================== */
.contact-header h2 {
    padding-top: 20px;
    margin-bottom: 20px;
}
.contact-info {
    margin-bottom: 20px; 
}
.frame {
    width: 100%;
    height: 500px;
}


@media only screen
and (max-width: 1230px) {
    .offering-item {
        flex-direction: column;
        -ms-flex-direction: column;
        text-align: center;
    }
    .offering-text {
        order: 2;
    }
    .offering-img {
        width: 190px;
        margin: 0 auto;
        order: 1;
    }
    .container.small {
        width: 90%;
    }
    .service-item {
        flex-direction: column-reverse;
        -ms-flex-direction: column;
    }
    .service-text > h1 {
        text-align: left;
    }
    .row-reverse .service-text {
        margin-left: 0;
    }
    .row-reverse .service-text > p {
        margin-right: 0;
    }
    .service-img {
        height: 410px;
    }
    .contact-info {
        flex-direction: column;
        -ms-flex-direction: column;
    }
    .contact-info .address-item {
        font-size: 13px;
    }
    .contact-info .address-item + .address-item {
        margin-top: 5px;
        margin-left: 0;
    }
}

@media only screen 
and (max-width: 976px) {
    .container {
        width: 90%;
    }
    address {
        display: none;
    }
    .navbar-primary {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-primary .flex {
        flex-direction: column;
        -ms-flex-direction: column;
    }
    .navbar-brand > img{
        padding-top: 10px;
        width: 200px;
    }
    .navbar-social.flex {
        flex-direction: row;
        -ms-flex-direction: column;
    }
    .store-hours {
        display: none;
    }
    .banner h1 {
        font-size: 23px;
    }
    .offering .flex {
        flex-direction: column;
        -ms-flex-direction: column;
        margin: 0;
        border: 0;
    }
    .about-item {
        flex-direction: column;
        -ms-flex-direction: column;
    }
    .about-text {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .frame {
        height: 300px;
    }
}

@media only screen 
and (max-width: 410px) {
    .navbar-menu {
        display: block;
    }
    .navbar-nav.flex {
        height: 0px;
        overflow: hidden;
        flex-direction: column;
        -ms-flex-direction: column;
        text-align: center;
    }
    .banner {
        height: 550px;
    }
    
    .brand .flex {   
        flex-direction: column;
        -ms-flex-direction: column;
    }
    .brands h2 {
        padding-left: 0;
        text-align: center;
    }
    .brand-item > img {
        width: 200px;
    }
    .brand-item + .brand-item {
        margin-top: 20px;
    }
    footer p {
        font-size: 14px;
    }
    .service-img {
        height: 225px;
    }
}