<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Services | Cartornics Marketing</title>
    
    <!-- Font Awsome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../main.css">
</head>
<body>
    
    <header>
        <address class="bg-dark">      
            <div class="container">
                <div class="flex justify-between">
                    <span class="address-item"><i class="fas fa-mobile-alt fa"></i>(+63) 920-907-9585</span>
                    <span class="address-item"><i class="fas fa-phone fa"></i>(+632) 441-8877 / (+632) 533-8850</span>
                    <span class="address-item"><i class="fas fa-building fa"></i>201 Del Monte Avenue, Quezon City, Philippines</span>
                    <span class="address-item"><i class="fas fa-envelope fa"></i>carty51@yahoo.com</span>
                </div>
            </div>
        </address>
        <nav class="navbar-primary bg-light">
            <div class="container">
                <div class="flex align-center">
                    <a href="" class="navbar-brand"><img src="../../img/logo.svg" alt=""></a>
                    <ul class="navbar-social flex justify-left">
                        <li><a href="https://www.facebook.com/cartronicsmarketingph/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                    <table class="store-hours">
                        <tr>
                            
                        </tr>
                        <tr>
                            <th>Store Hours</th>
                            <td>Mon-Sat :</td>
                            <td>0900-1800</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Sunday :</td>
                            <td>0900-1500</td>
                        </tr>
                    </table>
                </div>
            </div>
        </nav>
        <nav class="navbar-second bg-dark">
            <div class="container">
                <div class="flex justify-right">
                    <div type="button" class="navbar-menu" id="toggle-menu"><i class="fas fa-bars fa-2x"></i></div>
                </div>
                <ul class="navbar-nav flex justify-between" id="menu">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../views/products/products.html">Products</a></li>
                    <li><a href="../../views/services/services.html">Services</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="../../views/contact/contact.html">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="about bg-light">
        <div class="container">
            <div class="about-item flex">
                <div class="about-text">
                    <h1>About Us</h1>
                    <p>Cartronics Marketing, a car accessory service, retail, and wholesale business located in 201 Del Monte Avenue, Quezon City, Philippines. With more than 30 years of excellence and progressive experience in the disustry, we continue to strive and provide the best quality of service and products at an affordable price.</p>
                </div>
                <div class="about-img bg-cartronics"></div>
            </div>
        </div>
    </section>
    
    <section class="contact bg-light">
        <div class="container">
            <div class="contact-item flex">
                <div class="map-img">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.2840936314597!2d121.0089613147342!3d14.63980818003971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b65d78919fe7%3A0x9510a921dd140400!2sCartronics+Marketing!5e0!3m2!1sen!2sph!4v1533057008028" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    
    
    
    
    <footer>
        <div class="bg-dark">
            <div class="container">
                <p>Copyright © 2018 JGMirador | All Rights Reserved</p>
            </div>
        </div>
    </footer>
    
    <script src="../../main.js"></script>
</body>
</html>